{% extends 'base.html' %}
{% block content %}
<header class="create-header">
    <h1>I want to pitch in!</h1>
    <img alt="Online learning" src="../static/assets/online-learning.jpg" class="create-img">
  </header>

<div class="create-div">
    <div class="create-container" name="account-info">
        <div class="create-container-label">
            <p>Create Account</p>
        </div>
        <div class="create-container-form">
            <form method="post" enctype="text/plain" class="shadow-form">
                <input type="text" name="account-name" placeholder="Account name" required>    
                <input type="text" name="account-email" placeholder="Account email" required>
                <input type="text" name="password" placeholder="Password" required>    
            </form>
        </div>
    </div>
    <div class="create-container" name="new-post">
        <div class="create-container-label">
            <p>New posting details</p>
        </div>
        <div class="create-container-form">
            <form method="post" enctype="text/plain" class="shadow-form">
                <input type="text" name="user-name" placeholder="Your name" required>    
                <input type="text" name="listing-email" placeholder="Email to show on listing" required>
                <input type="text" name="employer" placeholder="Employer" required>    
                <input type="text" name="work-hours" placeholder="Work hours" required>    
                <input type="text" name="job-title" placeholder="Job title" required>    
                <input type="text" name="work-details" placeholder="Work details" required>    
                <input type="text" name="employer-website" placeholder="Employer website" required>    
                <input type="text" name="remote-in-person" placeholder="Remote, in-person, or either?" required>    
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
