{% extends 'base.html' %}
{% block content %}

    <header>
        <h1 class="main_purple">Tech Shadow</h1>
    </header>


        <div class="top-column">
            <div class="text-column">
                <h2>Learn & Grow</h2>
                <p>Tech Shadow provides a platform for professionals and aspiring tech enthusiasts to connect and grow together.</p>
            </div>
            <div class="image-column">
                <img src="../static/assets/working_together.jpg" alt="Tech Shadow">
            </div>
        </div>

        <div class="cards">
            <div class="card" onclick="window.location.href='/shadows'">
                <h2>Explore Shadow Opportunities</h2>
                <img src="../static/assets/shadow2.jpg" alt="Card Image">
            </div>
            <div class="card" onclick="window.location.href='/create_shadow'">
                <h2>Sign up to offer a shadow Opportunity</h2>
                <img src="../static/assets/online-learning.jpg" alt="Card Image">
            </div>
        </div>

{% endblock %}
