<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechShadow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="{{ url_for('static', filename='javascript/rename_this_file.js') }}"></script>
</head>
<body>
    <header>
        <h1 class="main_purple">Tech Shadow</h1>
    </header>

    <section class="content">
        <div class="columns">
            <div class="text-column">
                <h2>Learn & Grow</h2>
                <p>Tech Shadow provides a platform for professionals and aspiring tech enthusiasts to connect and grow together.</p>
            </div>
            <div class="image-column">
                <img src="../static/assets/working_together.jpg" alt="Tech Shadow">
            </div>
        </div>

        <div class="cards">
            <div class="card">
                <h3>Explore Shadow Opportunities</h3>
                <img src="../static/assets/shadow.png" alt="Card Image">
            </div>
            <div class="card">
                <h3>Sign up to offer a shadow Opportunity</h3>
                <img src="../static/assets/online-learning.jpg" alt="Card Image">
            </div>
        </div>
    </section>

    <footer>
        <p class="main_purple">&#169; University of Colorado CSPB Program, 2024</p>
    </footer>
</body>
</html>
